APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:XNp1XbO8dSq4w8zHwxvqioD2NW+FNuIZDCB7its4s9I=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=nftpayroll
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# IPFS
IPFS_API_BASE_URL=https://api.pinata.cloud/pinning
IPFS_API_KEY=d85fabc3b0482fb76e2f
IPFS_API_SECRET=1d570ee79c8e5cbaceb68c8787f820cc3f2e75dd858d62ff6b3e19caf2f3170a
IPFS_API_SECRET_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI5NzdmNjJhYS1jYjA1LTRmYmYtOTA1Mi1iOTc2YmQ5ZTU3MDgiLCJlbWFpbCI6InZleXNlbGtvcnVAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImQ4NWZhYmMzYjA0ODJmYjc2ZTJmIiwic2NvcGVkS2V5U2VjcmV0IjoiMWQ1NzBlZTc5YzhlNWNiYWNlYjY4Yzg3ODdmODIwY2MzZjJlNzVkZDg1OGQ2MmZmNmIzZTE5Y2FmMmYzMTcwYSIsImV4cCI6MTc5NDY2MDI5Mn0.Z60bcPB4esT08-8HsByz8VAXSa9AEFMnSwGNuWmuasU


# Sepolia ya da hangi ağdaysan
CHAIN_RPC_URL=https://sepolia.infura.io/v3/56342ae2a10b478ea67cbe79b6c3b32d
CHAIN_PRIVATE_KEY=0xab1de2bcd356dc6bf9649e968f4b40e279410d60e97ae7aec54c1a0135dbe103
PAYROLL_NFT_CONTRACT_ADDRESS=0x74119b41d2065443339C9ADf3F6580C3e1cBCD1b
